/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {margin: 0 0 60px; background: #fff; border: 4px solid #fff; position: relative; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; box-shadow: 0 1px 4px rgba(0,0,0,.2); -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2); -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2); -o-box-shadow: 0 1px 4px rgba(0,0,0,.2); zoom: 1;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

.carousel li {margin-right: 5px}


/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a {width: 30px; height: 30px; margin: -20px 0 0; display: block; background: url(images/bg_direction_nav.png) no-repeat 0 0; position: absolute; top: 50%; z-index: 10; cursor: pointer; text-indent: -9999px; opacity: 0; -webkit-transition: all .3s ease;}
.flex-direction-nav .flex-next {background-position: 100% 0; right: -36px; }
.flex-direction-nav .flex-prev {left: -36px;}
.flexslider:hover .flex-next {opacity: 0.8; right: 5px;}
.flexslider:hover .flex-prev {opacity: 0.8; left: 5px;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3);}
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
  .flex-direction-nav .flex-next {opacity: 1; right: 0;}
}














@media all and (min-width: 740px) and (min-device-width: 740px), (max-device-width: 800px) and (min-width: 740px) and (orientation:landscape) {

  .front #zone-branding {
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(102, 102, 102);
    /* RGBa with 0.6 opacity */
	background: rgba(35, 31, 32, 0.7);
   }

  .front #zone-menu {

  }

  .front #zone-header-wrapper {
    top: -6em;
	margin-bottom: -6em;
    width: 100%;
    z-index: 0;
    position: relative;
	overflow: hidden;
  }

  .front #zone-header {
    margin: 0 auto;
    margin-top: 0;
	top: 0;
  }

  .front #region-header-first {
    width: 100%;
  }

  .front #zone-menu-wrapper {
    bottom: 0;
	height: 3.25em;
  }

  .front #region-menu {
    bottom: 0;
  }

  .flex-nav-container {
    height: auto;
	margin: 0;
  }

  .flexslider .slides > li {
    height: auto;
  }

  .front #section-header {
    height: auto;
	overflow: hidden;
  }

 .front #zone-header-wrapper {
	height: auto;
  }

  .front #zone-header {
    height: auto;
  }

  .front #block-views-cm-slideshow-block {
    height: auto;
  }

  .view-id-cm_slideshow .image {
 	width: 720px;
  }

  .view-id-cm_slideshow .image img{
	width: 720px;
  }

  .view-id-cm_slideshow .primary-headline {
	font-size: 1.813em;
	line-height: 1;
	padding-bottom: 0.2em;
  }

  .view-id-cm_slideshow .secondary-headline{
    font-size: 0.875em;
  }

  .flex-direction-nav li a {
    width: 16px;
    height: 33px;
    background: url(images/slideshow-arrows-small.png) 0 100% no-repeat;
  }

  .flex-direction-nav li .prev {
    background-position: 0 -33px;
  }

  .flex-direction-nav li .next {
    background-position: 0 0;
  }

}

@media all and (min-width: 980px) and (min-device-width: 980px), all and (max-device-width: 1024px) and (min-width: 1024px) and (orientation:landscape) {

  .flex-nav-container {
    height: auto;
  }

  .flexslider {
    width: 100%;
	height: auto;
    margin: 0 auto;
  }

  .flexslider .slides > li {
    height: auto;
  }

  .front #section-header {
    height: auto;
	overflow: hidden;
  }

 .front #zone-header-wrapper {
	height: auto;
  }

  .front #zone-header {
    height: auto;
  }

  .front #block-views-cm-slideshow-block {
    height: auto;
  }

  .view-id-cm_slideshow .image {
 	width: 960px;
  }

  .view-id-cm_slideshow .image img{
	width: 960px;
  }

  .view-id-cm_slideshow .pinch {
    position: absolute;
    bottom: 3.8em;
    left: 5em;
	width: 26em;
	font-size: 1em;
  }

  .view-id-cm_slideshow .primary-headline {
	font-size: 2.3em;
  }

  .view-id-cm_slideshow .secondary-headline{
    font-size: 0.875em;
  }

  .flex-direction-nav li a {
    width: 25px;
    height: 51px;
    background: url(images/slideshow-arrows.png) 0 100% no-repeat;
  }

  .flex-direction-nav li .prev {
    background-position: 0 -51px;
  }

  .flex-direction-nav li .next {
    background-position: 0 0;
  }

}

@media all and (min-width: 1220px) {

  .flex-nav-container {
    height: auto;
	margin: 0;
  }

  .flexslider {
    width: 1200px;
	height: auto;
    margin: 0 auto;
  }

  .flexslider .slides > li {
    height: auto;
  }

  .front #section-header {
    height: auto;
	overflow: hidden;
  }

 .front #zone-header-wrapper {
	height: auto;
  }

  .front #zone-header {
    height: auto;
  }

  .front #block-views-cm-slideshow-block {
    height: auto;
  }

  .view-id-cm_slideshow .image {
    width: 1200px;
  }

  .view-id-cm_slideshow .image img{
	width: 1200px;
  }

  .view-id-cm_slideshow .pinch {
    position: absolute;
    bottom: 4em;
    left: 5em;
	width: 32em;
	font-size: 1em;
  }

  .view-id-cm_slideshow .primary-headline {
	font-size: 2.875em;
  }

  .view-id-cm_slideshow .secondary-headline{
    font-size: 1em;
  }

}

.front #zone-branding-wrapper {
  position: relative;
  z-index: 9;
}

.front #zone-menu-wrapper {
  position: relative;
}

.view-cm-slideshow {
  width: 100%;
}

.view-id-cm_slideshow .image {
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  margin: 0 auto;
}

.view-id-cm_slideshow .pinch {
  background: #000000;
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.7);
  /* background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5); */
  clear: left;
  color: #3e3e3e;
  float: left;
  padding: 1em;
  line-height: 1.2;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  box-shadow: 0 0 10px 2px #888;
  position: absolute;
  bottom: 4.5em;
  left: 5em;
  width: 26em;
  font-size: 1em;
}

.view-id-cm_slideshow .pinch a{
  color: #3e3e3e;
  text-decoration: underline;
}

.view-id-cm_slideshow .pinch a:hover{
  color: #999999;
  text-decoration: none;
}

.view-id-cm_slideshow .pinch p{
  margin: 0;
}

#views_slideshow_controls_text_pause_cm_slideshow-block {
  display: none;
}

.block-cm-slideshow-block h2, #block-views-cm-slideshow-block h2 {
  display: none;
}

/* Flex Slider overrides */

.flexslider {
  background: transparent;
  border: none;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.flexslider .slides img {
  width: 100%;
     -moz-box-shadow: none;
  -webkit-box-shadow: none;
          box-shadow: none;
		  margin-top: 0;
		  margin-bottom: 0;
}

.flex-direction-nav li a {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

.flex-direction-nav li a:hover {
  filter: alpha(opacity=100);
  opacity: 1;
}

.flex-direction-nav li .prev {
  left: 1em;
}

.flex-direction-nav li .next {
  right: 1em;
}

.flex-control-nav {
  bottom: 1em;
  right: 2%;
  height: 1.5em;
  width: auto;
}

.flex-control-nav li {
  padding-top: 0.3em;
}



.flex-control-nav li a {
  background: url(images/bg_control_nav.png) 0 100% no-repeat;
  z-index: 10;
  margin: 0;
}

.flex-control-nav li a:hover {
  background-position: 0 -13px;
}

.flex-control-nav li a.active {
  background-position: 0 -26px;
  cursor: default;
}



.front #branding .region-branding {
  .logo-block {
    top: 1em;
  }

  #block-search-form {
    top: 2em;
  }
}


.front #branding {
  height: auto;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgb(0, 0, 0);

  /* RGBa with 0.6 opacity */
  background: rgba(35, 31, 32, 0.8);

  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2231F20, endColorstr=#B2231F20);

  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2231F20, endColorstr=#B2231F20)";
}

